:root {
  --foreground: #1e2129;
  --red: #eb3b5a;
  --orange: #fa8231;
  --yellow: #f7b731;
  --green: #20bf6b;
  --cyan: #0fb9b1;
  --blue: #2d98da;
  --dark_blue: #3867d6;
  --purple: #8854d0;
  --grey: #4b6584;
  --pink: #FA71D4;
}
